<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Booklist</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<body>
	<h1>Add book</h1>
	<div>
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
			<label for="title">Title</label><br>
			<input type="text" id="title" th:field="*{title}" /><br><br>
			<label for="author">Author</label><br>
			<input type="text" id="author" th:field="*{author}" /><br><br> 	
			<label for="year">Year</label><br>
			<input type="text" th:field="*{year}" /><br><br> 
			<label for="isbn">ISBN</label><br>
			<input type="text" th:field="*{isbn}" /><br><br> 
			<label for="price">Price</label><br>
			<input type="text" th:field="*{price}" /><br><br> 
			<label for="catlist">Category</label><br> 
			<select id="catlist" th:field="*{category}" class="form-control">
			<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
			</select><br>
			<input type="submit" value="Save"></input> 
		</form>
	</div>
</body>
</html>